body {
	color: #89867e;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
header{
	height: 200px;

}
h1.intro{
	font-size: 5em;
	font-family: "avant-garde",sans-serif;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 0.8em;
	margin-bottom: 20px;
	text-transform: uppercase;	
}
@media(max-width: 700px){
	h1.intro{
		font-size: 4em;
	}
}
@media(max-width: 550px){
	h1.intro{
		font-size: 3em;
	}
}
@media(max-width: 420px){
	h1.intro{
		font-size: 2em;
	}
}
h3{
	font-style: bold;
	font-size: 20px;
}
span.vert{
	color: #057F37;
}
span.bleu{
	color: #166BA2;
}
a:hover{
	text-decoration:none;
	color: blue;
}
img{
	max-width: 100%;
}
#container
{
	
	margin : auto;
	color: #000;
}
section{
	text-align: center;
	width: 80%;
	padding: 20px;
	margin: 0 auto;

}
section article
{
	display: inline-block;
	padding: 0 10px;
	width: 250px;
}
#competences{
	background-color: #1E8C4B;
	color: white;
}
#experiences{
	background-color: #2E9CC5;
	color: white;
}
#formations{
	background-color: #2E7AAB;
	color: white;
}
#divers{
	background-color: #324A5A;
	color: white;
}
#contact{
	background-color: #2D3E4A;
	color: white;
}