body {
	color: #89867e;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
header{
	height: 200px;

}
h1.intro{
	font-size: 5em;
	font-family: "avant-garde",sans-serif;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 0.8em;
	margin-bottom: 20px;
	text-transform: uppercase;	
}
@media(max-width: 700px){
	h1.intro{
		font-size: 4em;
	}
}
@media(max-width: 550px){
	h1.intro{
		font-size: 3em;
	}
}
@media(max-width: 420px){
	h1.intro{
		font-size: 2em;
	}
}
.clear{clear:both;}
.pad-top{padding-top:4px;}
h3{
	font-style: bold;
	font-size: 20px;
}
/*h4{line-height: 0.5;}*/

span.vert{
	color: #057F37;
}
span.bleu{
	color: #166BA2;
}
a:hover{
	text-decoration:none;
}
img{
	max-width: 100%;
}
#container
{
	margin : auto;
	color: #000;
}
section{
	text-align: center;
	width: 80%;
	padding: 40px;
	margin: 20px auto;
	border-radius: 10px;

}
section article
{
	display: inline-block;
	padding: 0 10px;
	width: 250px;
}
#intro a, #contact a {
	background-color:#89867E;
	border-radius: 5px;
	padding:10px 15px;
	color:white;
	font-weight: 700;
}
#intro a:hover, #contact a:hover {
	color:black;
}
#competences{
	margin-top:30px;
	background-color: #1E8C4B;
	color: white;
}
#experiences{
	background-color: #2E9CC5;
	color: white;
	height: 120%;
}
#formations{
	height: 100% !important;
}
@media(max-width: 1200px){
	#experiences{
		height: 140%;
	}
}
@media(max-width: 940px){
	#experiences{
		height: 162%;
	}
}
@media(max-width: 774px){
	#experiences{
		height: 280%;
	}
}

@media(max-width: 670px){
	#experiences{
		height: 300%;
	}
}

@media(max-width: 585px){
	#experiences{
		height: 340%;
	}
	#formations{
		height: 120% !important;
	}
}

@media(max-width: 500px){
	#experiences{
		height: 380%;
	}
	#formations{
		height: 200%;}
}

@media(max-width: 445px){
	#experiences{
		height: 420%;
	}
}

@media(max-width: 408px){
	#experiences{
		height: 460%;
	}
	#formations{
		height: 130% !important;
	}
}
#experiences ul{text-align: left !important; list-style: none;}
#experiences .gauche{float:left; width: 20%; min-width: 100px;}
#experiences .droite{float: left; width: 80%;}

#formations ul{text-align: left !important; list-style: none;}
#formations .gauche{float:left; width: 20%; min-width: 100px;}
#formations .droite{float: left; width: 80%;}


#formations{
	background-color: #2E7AAB;
	color: white;
	height: 70%;
}
#divers{
	background-color: #324A5A;
	color: white;
	margin:0 auto;
	height: 60%;
}
/*#divers .liste-divers{text-align: center !important; margin: 0 auto !important; width: 33%;}*/
#divers ul { list-style: none;}
#divers ul li{float: left; margin-right: 50px;}
/*#divers ul li {list-style: none; float: left;  margin-right: 60px; text-align: left; width: 80px;}
#divers ul li:first-child { clear: left; }*/
@media(max-width: 630px){
	#divers{
		height: 70%;
	}
}
@media(max-width: 480px){
	#divers{
		height: 80%;
	}
}
@media(max-width: 450px){
	#divers{
		height: 120%;
	}
}

#contact{
	background-color: #2D3E4A;
	color: white;
}
.nav {position: relative; z-index: 10;}